<div class="page-header text-center">
  <h1>Climbing Tracker</h1>
  <h2>A Route Tracker for Climbers</h2>
</div>
<div class="page-body center-block" style="width: 75%;">
    <p class="lead">The purpose of this app is the help climbers track their climbing progression and compare with their stats with friends and others</p>
    <p>You can see your progress in the "My Stuff" tab. It is a list of all the accomplishments you have documented in this app</p>
    <p>You can see your friends progress in the "Friends" tab. It is a list of all the accomplishments you and your friends have documented in this app</p>
</div>